[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tucstwo
[access "refs/for/refs/*"]
	read = group user/tucstwo
	push = group user/tucstwo
	label-Code-Review = -2..+2 group user/tucstwo
	label-Verified = -1..+1 group user/tucstwo
	rebase = group user/tucstwo
	removeReviewer = group user/tucstwo
	submit = group user/tucstwo
[access "refs/heads/*"]
	read = group user/tucstwo
	create = group user/tucstwo
	push = +force group user/tucstwo
	pushMerge = group user/tucstwo
[access "refs/tags/*"]
	push = +force group user/tucstwo
	pushTag = group user/tucstwo
	pushSignedTag = group user/tucstwo
